@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using la_mia_pizzeria_static.Data
@model PizzaFormModel




<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Pizza.Name" class="d-block w-100" />
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Pizza.Description" class="d-block w-100" />
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Pizza.Price" class="d-block w-100" />
            <span asp-validation-for="Pizza.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Url:</strong>
            <input asp-for="Pizza.PhotoURL" class="d-block w-100" />
            <span asp-validation-for="Pizza.PhotoURL" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categorie:</strong>
            <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Category category in Model.Categories)
                {
                    @if (Model.Pizza.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <strong>ingredienti:</strong>
            <div>
                @{

                    @for(int i = 0; i < Model.Ingredients.Count; i ++)
                    {
                        <input type="checkbox" name="SelectedIngredients" value="@Model.Ingredients[i].Value" 
                         />
                        @Model.Ingredients[i].Text

                    }
                }
            </div>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>