@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<Pizza> ;
}

<div class="container ">
    <div class="row">

    @{

        foreach (Pizza elemento in @Model)
        {
            <div class="col-5 my-2 ">


            <hr />
                <a class="text-center text-black" href="@Url.Action("Detail", "Pizza", new {id=elemento.Id})" >
                    <div class="card p-2">
                        <img href="@elemento.PhotoURL" />
                        <h5>@elemento.Name</h5>
                        <p>@elemento.Description</p>
                        @if(elemento.Category != null){

                        <p>@elemento.Category.Name</p>
                        }


                        <hr />
                        <span> 
                        € @elemento.Price
                        </span>
                        </div>
                </a>
                    @if (User.IsInRole("ADMIN"))
                    {
                     
                        
                        <div class="w-100 d-flex justify-content-center">
                                <button class="btn btn-warning">
                                    <a class="text-center text-black" href="@Url.Action("Update", "Pizza", new {id=elemento.Id})">
                                        modifica
                                    </a>
                                </button>
                   

                                <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@elemento.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class=" btn btn-danger">
                                        elimina
                                    </button>
                                </form>
                        </div>
                    
                    }
                
                <hr />
            </div>
        }
    }

    

    </div>
</div>




<style>

    


</style>